html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.social-link {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-link:hover {
    transform: scale(1.2);
    opacity: 0.8;
}